<table mat-table [dataSource]="dataSource$" class="mat-elevation-z8">
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="Customer ID">
    <th mat-header-cell *matHeaderCellDef>Customer ID</th>
    <td mat-cell *matCellDef="let element">{{ element.customerId }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="Name / Corporation">
    <th mat-header-cell *matHeaderCellDef>Name / Corporation</th>
    <td mat-cell *matCellDef="let element; let index = index">
      <app-edit-table (update)="updateField(index, 'nameCorporation')">
        <ng-template viewMode>
          {{ element.nameCorporation }}
        </ng-template>
        <ng-template editMode>
          <mat-form-field class="example-full-width">
            <input
              matInput
              [formControl]="getControl(index, 'nameCorporation')"
              focusable
              editTableOnEnter
            />
            <mat-error *ngIf="getControl(index, 'nameCorporation').hasError('required')">
              Field is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <!-- <input  [formControl]="getControl(index, 'name')" focusable editTableOnEnter> -->
        </ng-template>
      </app-edit-table>
    </td>
  </ng-container>

  <!-- Begin Date Column -->
  <ng-container matColumnDef="Begin Date">
    <th mat-header-cell *matHeaderCellDef>Begin Date</th>
    <td mat-cell *matCellDef="let element; let index = index">
      <app-edit-table (update)="updateField(index, 'beginDate')">
        <ng-template viewMode>
          {{ element.beginDate }}
        </ng-template>
        <ng-template editMode>
          <mat-form-field class="example-full-width">
            <input
              matInput
              [formControl]="getControl(index, 'beginDate')"
              focusable
              editTableOnEnter
            />
            <mat-error *ngIf="getControl(index, 'beginDate').hasError('required')">
              Field is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </ng-template>
      </app-edit-table>
    </td>
  </ng-container>

  <!-- End Date Column -->
  <ng-container matColumnDef="End Date">
    <th mat-header-cell *matHeaderCellDef>End Date</th>
    <td mat-cell *matCellDef="let element; let index = index">
      <app-edit-table (update)="updateField(index, 'endDate')">
        <ng-template viewMode>
          {{ element.endDate }}
        </ng-template>
        <ng-template editMode>
          <mat-form-field class="example-full-width">
            <input
              matInput
              [formControl]="getControl(index, 'endDate')"
              focusable
              editTableOnEnter
            />
            <mat-error *ngIf="getControl(index, 'beginDate').hasError('required')">
              Field is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </ng-template>
      </app-edit-table>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnNames"></tr>
  <tr mat-row *matRowDef="let row; columns: columnNames"></tr>
</table>

<!-- <div class="example-container">
  <form>
    <div class="row">
      <mat-form-field>
        <mat-label>Customer ID</mat-label>
        <input matInput value="12345">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Name / Corporation</mat-label>
        <input matInput value="hklhklhkl">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Begin Date</mat-label>
        <input  matInput value="12/10/2020">
      </mat-form-field>
      <mat-form-field>
        <mat-label>End Date</mat-label>
        <input matInput value="12/24/20">
      </mat-form-field>
    </div>
  </form>

</div> -->
