.wrapper  {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  height: 9.9375rem;
  background-color: #AEBA95;
  color: #0d2063;;
  .logo-area {
    max-width: 38%;
    display: flex;
    p {
      margin-top: 6%;
      margin-left: 1rem;
      font-weight: 800;
      font-size: 1.7rem;
    }
  }
  .logo{
    height: 100%;
  }
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
    a {
      text-decoration: underline;
      &:before {
        margin-bottom: 1rem;
      }
    }
    span {
      margin-left: 1rem;

    }
    text-transform: capitalize;
  }

}
