<div
  class="wrapper"
>
  <div class="logo-area">
    <img class="logo" src="assets/images/nrc_logo.jpg" alt="nrc_logo" />
    <p>Water Right Information System</p>
  </div>

  <div class="menu">
    <span>Jenn Daily</span>
    <span
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="Example icon-button with a menu"
    >
      <mat-icon>menu</mat-icon>
    </span>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>log_out</mat-icon>
        <span>Log Out</span>
      </button>
    </mat-menu>
  </div>
</div>
