  <mat-form-field class="example-full-width" [appearance]="appearanceType">
    <mat-label *ngIf="label">{{ label }}</mat-label>
    <input
      *ngIf="isInputType"
      matInput
      [required]="isRequired"
      [disabled]="isDisabled"
      [value]="data"
    />
    <textarea
      *ngIf="isTextAreaType"
      matInput
      [required]="isRequired"
      [disabled]="isDisabled"
      [value]="data"
    ></textarea>
    <mat-select
      *ngIf="isSelectType"
      [required]="isRequired"
      [disabled]="isDisabled"
    >
      <mat-option value="option">Option</mat-option>
      <mat-option value="option2">Option 2</mat-option>
      <mat-option value="option3">Option 3</mat-option>
    </mat-select>
    <mat-hint *ngIf="hint">{{ hint }}</mat-hint>
    <mat-icon *ngIf="icon" matSuffix>{{ icon }}</mat-icon>
  </mat-form-field>
