.wrapper {
  margin-top: 3rem;
  form {

    width: 80rem;
    margin: 0 auto;
  }

  ul {
    list-style-type: none;
  }

  app-form-field {
    margin-left: 12px;
    margin-right: 12px;
  }

  .delete {
    margin-left: 1rem;
    opacity: 25%;
  }

  .delete:hover {
    opacity: 100%;
  }
}

