<div class="wrapper">
  <form [formGroup]="form">
    <mat-card class="example-card">
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Abstract Report</mat-card-title>
      <mat-card-content>
        <ul formArrayName="abstractForms">
          <li *ngFor="let form of abstractForms.controls; let i = index">
            <div [formGroupName]="i">
              <app-form-field [formName]="'code'" [label]="'Code'" [appearanceType]="'outline'" [data]="'test data'"[isRequired]="true"></app-form-field>
              <app-form-field [formName]="'reportmodule'" [label]="'Report Module'"></app-form-field>
              <app-form-field [formName]="'name'" [label]="'Name'" [appearanceType]="'fill'" [isDisabled]="true" [isRequired]="false" [type]="'textarea'"></app-form-field>
              <app-form-field [formName]="'name'" [label]="'Name'" [appearanceType]="'fill'" [isDisabled]="false" [isRequired]="false" [type]="'select'"></app-form-field>

              <!-- <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Code</mat-label>
                <input
                  matInput
                  formControlName="code"
                  placeholder="Enter Code"
                />
              </mat-form-field> -->
              <!-- <mat-form-field class="example-full-width">
                <mat-label>Name</mat-label>
                <input
                  matInput
                  formControlName="name"
                  placeholder="Enter Name"
                />
              </mat-form-field> -->
              <!-- <app-form-field [formControlName]="'name'" [label]="'Name'"></app-form-field>
              <app-form-field [formControlName]="'reportModule'" [label]="'Report Module'"></app-form-field> -->

              <button
                class="delete"
                mat-mini-fab
                color="warn"
                (click)="removeForm(i)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </li>
          <li>
            <div>
              <button mat-mini-fab color="primary" (click)="addForm()">
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </li>
        </ul>

      </mat-card-content>
      <mat-card-actions [align]="'end'">
        <button class="submit" mat-button (click)="onSubmit()">SUBMIT</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
