/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  line-height: 1.2;
}
p {
  margin: 0;
}
body {
  margin: 0;

}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
