.wrapper {
  height: 4rem;
  background-color: #0d2063;
  nav {
    display: flex;
    justify-content: flex-start;
    max-width: 60%;
    text-transform: capitalize;
    color: #fff;
    cursor: pointer;
    a {
      &:visited {
        color: #fff;
      }
      &:hover {
        background-color: #AEBA95;
        color: #0d2063;
      }
      text-decoration: none;
      padding: 1.48rem;
    }

  }
}
