<div class="wrapper">
  <nav>
    <a
      *ngFor="let nav of routes"
      [routerLink]="nav.route"
      (mouseover)="setHover(nav, true)"
      (mouseleave)="setHover(nav, false)"
      >{{ nav.name }}</a
    >
  </nav>
</div>
